<div class="c-decisionguide x-component-spacing js-decisionguide">
   
    <div class="hidden js-basequestion-path"></div>
      
    <div class="js-decisionguide-wrapper">
      <div class="c-decisionguide__header js-decisionguide-header clearfix">
        <div class="c-decisionguide__heading">Descision Guide SV</div>
        
        <div class="c-decisionguide__refresh hidden js-decisionguide-refresh">
            <a href="javascript:void(0)" class="c-decisionguide__refresh-btn x-submit-button label-ellipses x-sub-hover js-refresh-decisionguide">
                <span class="hidden-xs">Refresh button</span>
                <i class="icon-refresh"></i>
            </a>
        </div>
      </div>

      <div class="js-decisionguide-ques-wrapper">
        <div class="c-decisionguide__answer-tags-wrapper hidden hidden-xs js-decisionguide-answers-wrapper">
          <div class="hidden c-decisionguide__info-text-wrapper js-decisionguide-info">
              <span class="c-decisionguide__tooltip-icon"><i class="icon-info"></i></span>
              <span class="c-decisionguide__info-text">Tooltip text</span>
          </div>
          <div class="c-decisionguide__answers hidden js-decisionguide-answers"> 
              
          </div>
        </div>
        <div class="c-decisionguide__submit-btn-wrapper hidden js-decisionguide-submit">
          <a href="javascript:void(0)" class="x-submit-button label-ellipses c-decisionguide__submit-btn x-sub-hover js-submit-decisionguide" target="_self" data-fn-click="true" data-da-satellitetrackevent="generic-link-tracking" data-da-link_link-page-name="" data-da-link_link-category="" data-da-link_link-section="decisionguide" data-da-link_link-header="decision guide" data-da-link_link-text="Submit" data-da-link_link-interaction-method="">
                Submit
          </a>
        </div>

        <div class="c-decisionguide__start-view js-decisionguide-start-view clearfix">
          <div class="c-decisionguide__intro-text">Welcome</div>
          <div class="c-decisionguide__start-btn-wrapper">
            <a href="javascript:void(0)" class="c-decisionguide__start-btn x-submit-button label-ellipses x-sub-hover js-start-decisionguide" target="_self" data-fn-click="true" data-da-satellitetrackevent="generic-link-tracking" data-da-link_link-page-name="" data-da-link_link-category="" data-da-link_link-section="decisionguide" data-da-link_link-header="decision guide" data-da-link_link-text="${data.startButtonText}" data-da-link_link-interaction-method="">
                Start
            </a>
          </div>
        </div>
        
        <div class="c-decisionguide__question-view hidden js-decisionguide-question-view">
            
        </div>
      </div>  
    </div>
      
    <div class="c-decisionguide__footer hidden js-decisionguide-footer clearfix">
      <a href="javascript:void(0)" class="c-decisionguide__prev x-submit-button label-ellipses x-sub-hover hidden js-decisionguide-prev">
        <i class="icon-back"></i> 
        <span class="sr-only">Back</span> 
        <span class="hidden-xs c-decisionguide__prev-text">Back</span>
      </a>
      <a href="javascript:void(0)" class="c-decisionguide__next x-submit-button label-ellipses x-sub-hover js-decisionguide-next disabled">
        <span class="hidden-xs c-decisionguide__next-text">Forward</span>
        <i class="icon-next"></i>
      </a>
      <div class="c-decisionguide__progress-wrapper">
        <span class="c-decisionguide__progress-text js-progress-text">0%</span>
        <div class="c-decisionguide__progress-bar">
          <span class="c-decisionguide__progress js-progress"></span>
        </div>
      </div>
    </div>
    
    <div class="c-decisionguide__results-listing-wrapper hidden js-decisionguide-results">
      
      <div class="c-decisionguide__recommend-text">Recommended Text</div>
      <div class="c-decisionguide__products-container clearfix js-decisionguide-products">

      </div>

    </div>
  </div>